@charset "euc-kr";
@import url('https://tr-image.game.onstove.com/event/fonts/NotoSansKR/NotoSansKR.css');
@import url('https://tr-image.game.onstove.com/event/fonts/NanumSquare/NanumSquare.css');

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('fonts/woff/Pretendard-Regular.woff') format('woff');
}

/* reset */
*, *:before, *:after {margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;word-break:break-word;outline:0;}
html, body {width:100%;height:100%;letter-spacing:-0.05em;font-size:12px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button {margin:0;padding:0;}
body, h1, h2, h3, h4, input, button {font-family:'malgun gothic','dotum',sans-serif;}
body {background-color:#fff;word-break:break-all;-ms-word-break:break-all;}
img, fieldset, iframe {border:0 none;}
li {list-style:none;}
input, select, button {vertical-align:middle;}
img {vertical-align:top;}
i, em, address {font-style:normal;}
label, button {cursor:pointer;}
button {margin:0;padding:0;border:0;outline:none;}
a {color:#333;text-decoration:none;}
a:hover {color:#333;text-decoration:none;}
button * {position:relative;}
hr {display:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input::-ms-clear {display:none;}
legend, caption {overflow:hidden;height:0;text-indent:-9999em;font-size:0;line-height:0;}
.hide {height:0;text-indent:-9999em;font-size:0;line-height:0;}



html {
    scroll-behavior: smooth;
}

/* event_nav.css style ???? ???? */
body {min-height:auto !important;overflow-y: hidden;}
#sideEvtNav *, #sideEvtNav *:before, #sideEvtNav *:after {box-sizing:content-box;}
/* common layout */
#evt_wrap {overflow:hidden;position:relative;width:100%;max-width: 2560px;min-width: 1200px;box-sizing:border-box;background:#fff;margin: 0 auto}
#evt_wrap * {box-sizing:border-box;font-family:'Noto Sans KR','Malgun Gothic','dotum', sans-serif;}

#evt_wrap .logo {position:absolute;top:12px;left:100px;z-index:100;}
#evt_wrap .logo a {display:block;width:82px;height:52px;background:url('../images/logo.png') no-repeat;text-indent:-9999em;z-index: 999}
#evt_wrap .evt-content {overflow:hidden;position:relative;width:100%;text-align:center;line-height:1.2;}
#evt_wrap .content-body {position:relative;}

.inner {position:relative;width:1240px;height:100%;margin:0 auto;padding: 0 20px;}
/* board, footer */
.event_comment {background:#fafafa url('../images/bbs_bg.jpg') no-repeat 50% 0;}
.event_comment_in {width:980px;margin:0 auto;padding:150px 0 0 0;}
.footer {position: absolute;height:60px;line-height:60px;z-index: 8;bottom: 0;width: 100%;}
.footer_copyright {color:#666;text-align:center;font-family:'Tahoma','Geneva','sans-serif';font-size:12px;letter-spacing:0;margin: 0 auto;width: 500px}
.footer.hides{display:none;}

/* content layout */
/*.evt-header {position:relative;height:0; text-align:center;background-size: cover;top: 0}*/
.content-body .section00 {position:relative;height:100vh; background:url('../images/header/bg_header.jpg') no-repeat center 0;text-align:center;background-size: cover;top: 0}
.content-body .section01 {position:relative;height:100vh;background:rgb(255, 255, 255);z-index: 5;overflow: hidden}
.content-body .section02 {position:relative;height:100vh;background:rgb(0, 0, 0) url('../images/section02/section02-bg.jpg') no-repeat center 0;z-index: 6;overflow: hidden}
.content-body .section03 {position:relative;height:100vh;background:rgb(255, 255, 255) url('../images/section03/section03-bg.jpg') no-repeat center 0;background-size: cover;z-index: 6;overflow: hidden}
.content-body .section04 {position:relative;height:100vh;background:rgb(0,0,0);z-index: 6;overflow: hidden}
.content-body .section05 {position:relative;height:100vh;background:rgb(255, 255, 255) url('../images/section05/section05-bg.jpg') no-repeat center 0;z-index: 6;background-size: cover;overflow: hidden}

/*풀페이지 스크롤 (스와이퍼)*/
.evt-swiper{position:relative;width:100%;height:100vh;overflow:hidden;}

/* contents */
/*.ico, .btn {display:inline-block;background:url('../images/ico_spr.png') no-repeat -9999em 0;text-indent:-9999em;}*/
/*.btn-caution {width:200px;height:50px;background-color:#fff;text-indent:0;}*/

/* buttons */

/* popup  z-index - default:110000000 / ???&????:130000000
   dimded z-index - default dimmed:100000000 / modal dimmed:120000000
*/
body.dimmed {width:100%;height:100%;}
body.dimmed:before {z-index:100000000;content:'';display:block;position:fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,.9);}
body.modal {overflow:hidden;width:100%;height:100%;}
body.modal:after {z-index:120000000;content:'';display:block;position:fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,.1);}
body.dimmed #evt_wrap {position:relative;top:0;}

.popup {z-index:110000000;box-sizing:border-box;position:absolute;top:0;left:50%;opacity:0;transform:scale(0);transition:transform 0.2s ease;line-height:1.2;}
.popup * {box-sizing:border-box;font-family:'Noto Sans KR','Malgun Gothic','dotum', sans-serif;letter-spacing:-0.05em;}
.popup.show {transform:translate(-50%,0) scale(1);opacity:1;}



.popup .btn-close {position:absolute;right:30px;top:30px;width:32px;height:32px;background:url('../images/btn_close.png') no-repeat;text-indent:-9999em;}
.popup .btn-area {position:absolute;left:0;bottom:38px;right:0;text-align:center;}

[data-popup-id="caution"] {width:950px;padding:40px 90px 40px 50px;background:#fff;font-family:'Noto Sans KR','Malgun Gothic','dotum', sans-serif;letter-spacing:-0.05em;}
[data-popup-id="caution"] .btn-close {right:30px;top:30px;width:32px;height:32px;background-position:100% 0;}
[data-popup-id="caution"] h3 {height:36px;margin-bottom:20px;padding-bottom:10px;font-size:24px;color:#252525;font-weight:bold;border-bottom:1px solid #a4a4a4;}
[data-popup-id="caution"] h3:not(:first-of-type) {margin-top:30px;}
[data-popup-id="caution"] h3::before {display:inline-block;margin-right:8px;width:5px;height:5px;background-color:#252525;content:'';vertical-align:6px;}
[data-popup-id="caution"] li {padding: 5px 0 5px 8px;text-indent:-8px;font-size:15px;color:#434343;letter-spacing:-0.05em;line-height:22px;}
[data-popup-id="caution"] li em {color:#ff5000;font-weight:normal;}

/*header*/
.section00 .inner {
    display: flex;justify-content: center;align-items: center;
}
.motion {display: flex;justify-content: center;}

.motion .main-logo {width: 811px;height: 158px;animation: up-animate 1.3s both;}

.motion .main-logo span {
    background: url("../images/header/title-logo.png") no-repeat center;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
}

.motion .event-words {margin-top: 70px;width: 100%;height: 19px;animation: up-animate 1.3s 0.5s both;}

.motion .event-words span {
    display: block;
    background: url("../images/header/title-text.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.motion .event-scroll-arrow{
    margin-top: 115px;
    width: 100%;
    height: 19px;
    animation: upDown 2s 1.5s infinite;
}

/*contents*/


.left-side-text {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: -1;
    left: -100px;
    top: 0
}

.left-side-text.absolute{
    position: absolute;
}

.left-side-text img{
    width: 100%;
}

/*common content css*/
.pin-spacer{width: 100%!important;}


.content-text-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}


.duration{transition: 0.4s;}
/*section01*/


.section01-text-wrap {
    width: 100%;
    display: flex;justify-content: center;align-items: start;flex-direction: column;
}
.section01-top-text,.section01-md-text{width: 100%}
.section01-text-wrap .section01-icon {
    width: 100%;
    height: 100%;
    max-height: 45px;
    margin-bottom: 44px;
}

.section01-text-wrap .section01-icon span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-top-icon.png") no-repeat left top;

}

.section01-text-wrap .section01-text-01 {
    width: 100%;
    height: 100%;
    max-height: 27px;
    margin-bottom: 15px;
}

.section01-text-wrap .section01-text-01 span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-top-text01.png") no-repeat left top;

}

.section01-text-wrap .section01-title {
    width: 100%;
    height: 60px;
    margin-bottom: 24px;
}

.section01-text-wrap .section01-title span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-top-title.png") no-repeat left top;
}

.section01-text-wrap .section01-text-02 {
    height: 15px;
    margin-bottom: 80px;
}

.section01-text-wrap .section01-text-02 span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-top-text02.png") no-repeat left top;
}

.section01-text-wrap .section01-md-text {
    height: 52px;
    margin-bottom: 150px;
    margin-top: 120px;
}

.section01-text-wrap .section01-md-text span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-md-text.png") no-repeat left top;
    background-size: contain;
}

.section01-bottom-text ul {
    width: 430px;
    height: 85px;
    display: -webkit-box; /* Safari */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section01-text-wrap .section01-bottom-text li:nth-child(1) {
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-bottom-text01.png") no-repeat left top;
    background-size: contain;
}

.section01-text-wrap .section01-bottom-text li:nth-child(2) {
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-bottom-text02.png") no-repeat left top;
    background-size: contain;
}

.section01-img-wrap {
    width: 960px;
    height: 1200px;
    position: absolute;
    top: 80px;
    z-index: 3;
    right: -365px;
}
.section01-img-bg{
    position: relative;
    width: 100%;
    height: 100%;
}

.section01-img-bg .section01-polygon-item01{
    display: block;
    background: url('../images/section01/section01-polygon-img01.png') no-repeat center top;
    width: 226px;
    height:228px;
    position: absolute;
    left: 190px;
}
.section01-img-bg .section01-polygon-item02{
    display: block;
    background: url('../images/section01/section01-polygon-img02.png') no-repeat center top;
    width:164px;
    height:166px;
    position: absolute;
    right: 0;
    top: 50px;
}
.section01-img-bg .section01-polygon-item03{
    display: block;
    background: url('../images/section01/section01-polygon-img03.png') no-repeat center top;
    width: 441px;
    height:461px;
    position: absolute;
    top: 207px;
    left: 482px;
    z-index: 2;
}
.section01-img-bg .section01-polygon-item04{
    display: block;
    background: url('../images/section01/section01-polygon-img04.png') no-repeat center top;
    width: 551px;
    height:564px;
    position: absolute;
    top: 635px;
    left: 167px;
}
.section01-img-bg .section01-polygon-item05{
    display: block;
    background: url('../images/section01/section01-polygon-img05.png') no-repeat center top;
    width: 386px;
    height:414px;
    position: absolute;
    left: 0;
    top: 430px;
    z-index: -1;
}
.section01-img-bg .section01-alphabet-b{
    display: block;
    background: url('../images/section01/section01-alphabet-b.png') no-repeat center top;
    width:278px;
    height:241px;
    position: absolute;
    left: 295px;
    top: 150px;
    z-index: -1;
}
.section01-img-bg .section01-alphabet-n01{
    display: block;
    background: url('../images/section01/section01-alphabet-n.png') no-repeat center top;
    width:278px;
    height:241px;
    position: absolute;
    left: 120px;
    top: 395px;
}
.section01-img-bg .section01-alphabet-n02{
    display: block;
    background: url('../images/section01/section01-alphabet-n02.png') no-repeat center top;
    width:278px;
    height:241px;
    position: absolute;
    left: 593px;
    top: 700px;
    z-index: -2;
}
.section01-img-bg .section01-alphabet-r{
    display: block;
    background: url('../images/section01/section01-alphabet-r.png') no-repeat center top;
    width:278px;
    height:241px;
    position: absolute;
    left: 500px;
    top: 520px;
    z-index: -2;
}

/*section02*/

.section02-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section02-top-text,
.section02-md-text,
.section02-bottom-text {
    width: 100%;
}
.section02-text-wrap .section02-icon {
    height: 45px;
    margin-bottom: 44px;
}
.section02-text-wrap .section02-icon span {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section02/section02-top-icon.png") no-repeat left top;
}
.section02-text-wrap .section02-text-01 {
    height: 25px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}

.section02-text-wrap .section02-text-01 span {
    display: block;
    width: 0;
    height: 100%;
    text-align: left;
    overflow: hidden;
    /*background: url("../images/section02/section02-top-text01.png") no-repeat left top;*/
}
.section02-text-wrap .section02-title {
    height: 63px;
    margin-bottom: 24px;
}
.section02-text-wrap .section02-title span {
    display: block;
    width: 0;
    height: 100%;
    text-align: left;
    overflow: hidden;
    /*background: url("../images/section02/section02-top-title.png") no-repeat left top;*/
}
.section02-text-wrap .section02-text-02 {
    width: 0;
    height: 41px;
    margin-bottom: 155px;
}
.section02-text-wrap .section02-text-02 span {
    display: block;
    width: 100%;
    min-height: 40px;
    height: 100%;
    text-align: left;
    overflow: hidden;
    /*background: url("../images/section02/section02-top-text02.png") no-repeat left top;*/
}
.section02-text-wrap .section02-md-text {
    height: 22px;
    margin-bottom: 20px;
}
.section02-text-wrap .section02-md-text .section02-bottom-text-line {
    width: 0;
    height: 2px;
    background: #fff;
    margin: 10px 0;
}
.section02-text-wrap .section02-md-text .section02-bottom-text-img {
    display: block;
    width: 0;
    max-width: 280px;
    height: 100%;
    text-align: left;
    overflow: hidden;
}
.section02-text-wrap .section02-bottom-text {
    width: 596px;
    height: 177px;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
}
.section02-text-wrap .section02-bottom-text span {
    display: block;
    height: 100%;
    text-align: right;
    overflow: hidden;
}
.section02-text-wrap .section02-bottom-text span img{
    display: block;

}

.section02-text-wrap .section02-circle {
    display: block;
    width: 245px;
    height: 245px;
    position: absolute;
    right: -125px;
    top: -200px;
}
.section02-text-wrap .section02-circle span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section02/section02-right-circle.png") no-repeat center center;
    background-size: contain;
    animation: rotate_image 25s linear infinite;
    transform-origin: 50% 50%;
}
.section02-text-wrap .section02-big-text {
    height: 486px;
    position: absolute;
    width: 100%;
    bottom: -200px;
    z-index: -1;
}
.section02-text-wrap .section02-big-text span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section02/section02-big-text.png") no-repeat left top;
    background-size: contain;
    position: absolute;
    left: -500px;
    z-index: -1;
}

/*section03*/
.section03 .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.section03-text-wrap{display: flex;justify-content: center;align-items: start;flex-direction: column;width: 100%;min-width: 560px}
.section03-top-text , .section03-bottom-text{
    width: 100%;
}

.section03-text-wrap .section03-icon{height: 45px;margin-bottom: 44px;width: 100%;}
.section03-text-wrap .section03-icon span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section01/section01-top-icon.png") no-repeat left top;
    background-size: contain;
}
.section03-text-wrap .section03-text-01{height: 27px;margin-bottom: 15px;width: 100%}
.section03-text-wrap .section03-text-01 span{
    display: block;
    width: 0;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.section03-text-wrap .section03-title{height: 150px;margin-bottom:100px;position: relative;
}
.section03-text-wrap .section03-title span{
    position: absolute;
    display: block;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.section03-text-wrap .section03-bottom-text{height: 120px;position: relative;}
.section03-text-wrap .section03-bottom-text span{
    display: block;
    width: 0;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.section03-img-wrap{width: 100%;min-width: 614px;height: 100%;display: flex;justify-content: center;
    align-items: center}
.section03-img-bg{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/*section04*/
.section04 .section04-text-wrap{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.section04-top-text{width: 100%;}
.section04-bottom-text{width: 100%;}
.section04-text-wrap .section04-text-01{height: 30px;margin-bottom:5px;}
.section04-text-wrap .section04-text-01 span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section04/section04-top-text01.png") no-repeat center top;
}
.section04-text-wrap .section04-title{height: 36px;margin-bottom:70px;}
.section04-text-wrap .section04-title span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section04/section04-top-title.png") no-repeat center top;
}

.section04-text-wrap .section04-md-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom:25px;
    width: 100%;
}
.section04-text-wrap .section04-md-item li{width: 267px;height: 193px;}

.section04-md-item li:nth-child(1) {
    background: url('../images/section04/section-item-box01.png') no-repeat center top;
}
.section04-md-item li:nth-child(2) {
    background: url('../images/section04/section-item-box02.png') no-repeat center top;
}.section04-md-item li:nth-child(3) {
     background: url('../images/section04/section-item-box03.png') no-repeat center top;
 }

.section04-md-item li:nth-child(4) {
    background: url('../images/section04/section-item-box04.png') no-repeat center top;
}
.section04-md-item li .item-box-text{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    letter-spacing: -0.25px;
    font-family: 'Pretendard','malgun gothic','dotum', sans-serif!important;
    cursor: default;
}
.item-box-text span{font-weight: bold;display:block; padding-top :20px}

.section04-text-wrap .section04-bottom-text{height: 15px;}
.section04-text-wrap .section04-bottom-text span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section04/section04-bottom-text.png") no-repeat center top;
}

.section04 .bg1{
    width: 1728px;
    height: 1329px;
    background: url("../images/section04/section04-bg01.png") no-repeat center top;
    position: absolute;
    top: -350px;
    left: -1110px;
    background-size: contain;

}
.section04 .bg2{
    width: 2177px;
    height: 2232px;
    background: url("../images/section04/section04-bg02.png") no-repeat center top;
    position: absolute;
    bottom: -50%;
    right: -1500px;
    background-size: contain;

}
.section04 .bg3{
    width: 888px;
    height: 902px;
    background: url("../images/section04/section04-bg03.png") no-repeat center top;
    position: absolute;
    top: 960px;
    left: -300px;
    background-size: contain;
}

/*section05*/
.section05 .section05-text-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section05-text-wrap .section05-title{width: 100%;height: 97px;margin-bottom: 90px}
.section05-text-wrap .section05-title span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section05/section05-title.png") no-repeat center top;
}
.section05-text-wrap .section05-text{width: 100%;height: 93px;}
.section05-text-wrap .section05-text span{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/section05/section05-text-01.png") no-repeat center top;
    background-size: contain;
}


/*animate css */
@keyframes up-animate {
    from {
        transform: translate(-0%, 50px);
        opacity: 0;
    }
    to {
        transform: translate(0%, 0);
        opacity: 1;
    }
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes upDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(-20px);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
