@use 'variable' as *;
@use 'functions' as *;

@mixin trReset {
	box-sizing: border-box;
	font-family: #{$fontFamily};
	// color: #{$fontColor};
	letter-spacing: -0.05em;
}
@mixin commonIco {
	background: url('../images/ico_spr.png?ver=#{$ver}') no-repeat 0 0;
}
@mixin flex($justify:flex-start,$align:center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}
@mixin ellipsis($lines: 1) { //인자 값의 기본 값은 1
	@if ($lines == 1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
	}
}
@mixin ir {
	display:block;overflow:hidden;height:0;width:0;margin:0;padding:0;font-size:0;line-height:0;
}
@mixin irTxt {
	display:block;overflow:hidden;height:0;width:0;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;
}
@mixin wh100 {
	width:100%;height:100%;
}
@mixin dimmedBg ($bgColor) {
	content:"";display:block;position:fixed;top:0;left:0;bottom:0;right:0;background-color:$bgColor;
}
@mixin is {
	/*height:auto;width:auto;*/font-family:#{$fontFamily};font-size:#{$htmlFontSize};line-height:1.2;text-indent:0;
}
@mixin position($position, $args: null) {
	position: $position;
	@if $args != null {
		$top-value: get-match-value-of-keys($args, top t);
		$right-value: get-match-value-of-keys($args, right r);
		$bottom-value: get-match-value-of-keys($args, bottom b);
		$left-value: get-match-value-of-keys($args, left l);

		z-index: get-match-value-of-keys($args, z-index z);
		top: if($top-value, unitless-px($top-value), null);
		right: if($right-value, unitless-px($right-value), null);
		bottom: if($bottom-value, unitless-px($bottom-value), null);
		left: if($left-value, unitless-px($left-value), null);
	}
}
@mixin font($args) {
	$props: style weight variant size size-adjust family stretch kerning line-height lh;  
	@each $prop in $props {
		$prop-index: index($args, $prop);
		@if $prop-index {
			$value: nth($args, $prop-index + 1);
			@if $prop == 'line-height' or $prop == 'lh' {
				line-height: $value;
			} @else {
				font-#{$prop}: $value;
			}
		}
	}
}