@charset "UTF-8";
/* web font */
@import 'https://tr-image.game.onstove.com/event/fonts/NotoSansKR/NotoSansKR.css';
@import 'https://tr-image.game.onstove.com/event/fonts/NanumSquare/NanumSquare.css';
/* popup  z-index - default:110000000 / 알럿&컨펌:130000000
	dimded z-index - default dimmed:100000000 / modal dimmed:120000000
*/

.lnb-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #946bf3;
  z-index: 100;
}
.lnb-wrap.open {
  display: block;
}
.lnb-wrap .lnb-data {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}
.lnb-wrap .lnb-link {
  display: flex;
  padding: 6.25vw 5.5555555556vw 8.3333333333vw;
  column-gap: 2.7777777778vw;
}
.lnb-wrap .lnb-link .link {
  width: 10.2777777778vw;
  height: 10.2777777778vw;
  background: url("../images/lnb/btn_lnb.png?ver=0.4855340465") no-repeat 0 0;
  background-size: auto 10.2777777778vw;
}
.lnb-wrap .lnb-link .link:nth-child(2) {
  background-position-x: 33%;
}
.lnb-wrap .lnb-link .link:nth-child(3) {
  background-position-x: 67%;
}
.lnb-wrap .lnb-link .link:nth-child(4) {
  margin-left: auto;
  background-position-x: 100%;
}
.lnb-wrap .lnb-list {
  overflow-y: overlay;
  padding: 2.7777777778vw;
}
.lnb-wrap .lnb-list ul {
  display: flex;
  flex-wrap: wrap;
  height: 141.6666666667vw;
  padding: 2.7777777778vw 2.6388888889vw 0;
  gap: 5.5555555556vw 5.5555555556vw;
  background: url("../images/lnb/img_lnb_default.png?ver=0.4855340465") no-repeat 50% 1.5277777778vw/contain;
}
.lnb-wrap .lnb-list li {
  position: relative;
  width: 41.6666666667vw;
  height: 41.6666666667vw;
}
.lnb-wrap .lnb-list li.active::before {
  content: "";
  position: absolute;
  top: -2.7777777778vw;
  left: -2.7777777778vw;
  right: -2.7777777778vw;
  bottom: -2.7777777778vw;
  background: url("../images/lnb/img_lnb_active.png?ver=0.4855340465") no-repeat 0 0;
  background-size: 200% auto;
}
.lnb-wrap .lnb-list li:nth-of-type(1).active::before {
  background-position: -2px 0;
}
.lnb-wrap .lnb-list li:nth-of-type(2).active::before {
  background-position: 100% 0;
}
.lnb-wrap .lnb-list li:nth-of-type(3).active::before {
  background-position: 0 49.9%;
}
.lnb-wrap .lnb-list li:nth-of-type(4).active::before {
  background-position: 100.5% 50%;
}
.lnb-wrap .lnb-list li:nth-of-type(5).active::before {
  background-position: 0 99.6%;
}
.lnb-wrap .lnb-list li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6.9444444444vw;
  z-index: 5;
}

@media screen and (min-width: 720px) {
  .lnb-wrap .lnb-link {
    padding: 45px 40px 60px;
    column-gap: 20px;
  }
  .lnb-wrap .lnb-link .link {
    width: 74px;
    height: 74px;
    background-size: auto 74px;
  }
  .lnb-wrap .lnb-list {
    padding: 20px;
  }
  .lnb-wrap .lnb-list ul {
    height: 1020px;
    padding: 20px 19px 0;
    gap: 40px 40px;
    background-position-y: 11px;
  }
  .lnb-wrap .lnb-list li {
    width: 300px;
    height: 300px;
  }
  .lnb-wrap .lnb-list li.active::before {
    top: -17px;
    left: -20px;
    right: -20px;
    bottom: -20px;
  }
  .lnb-wrap .lnb-list li a {
    border-radius: 50px;
  }
}
/* reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  word-break: break-word;
  outline: 0;
}

html, body {
  width: 100%;
  min-width: 720;
  height: 100%;
  background-color: #010511;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, button, blockquote, a, address, img, strong,
dl, dt, dd, ol, ul, li, fieldset, form, pre, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
  font-size: 13px;
  line-height: 1.2;
  font-family: Noto Sans KR, malgun gothic, dotum, sans-serif;
  word-break: break-all;
}

hr {
  display: none;
}

fieldset, iframe {
  width: 100%;
  border: 0 none;
}

ol, ul, li, dl, dt, dd {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0 none;
  vertical-align: middle;
}

i, em, address {
  font-style: normal;
}

label, button {
  cursor: pointer;
}

button, a, input, label, textarea, select {
  vertical-align: middle;
  letter-spacing: -0.05em;
  font-size: 13px;
  line-height: 1.2;
  font-family: Noto Sans KR, malgun gothic, dotum, sans-serif;
  word-break: break-all;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

button * {
  position: relative;
}

a {
  color: #333;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

legend, caption {
  display: block;
  overflow: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

.hide {
  display: block;
  overflow: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.scroll-none {
  overflow: hidden;
}

/* event_nav.css style 강제 초기화 */
body {
  min-height: auto !important;
}

#sideEvtNav *, #sideEvtNav *:before, #sideEvtNav *:after {
  box-sizing: content-box;
}

/* common style */
.ir, .blind {
  display: block;
  overflow: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-wh {
  width: 100%;
  height: 100%;
}

/* layout */
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #eeeded;
}
#wrapper .container {
  position: relative;
}
#wrapper .img-box {
  width: 100%;
  display: inline-block;
}

section {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.header {
  position: absolute !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6.25vw 5.5555555556vw 0;
  z-index: 100;
}

.btn-control {
  width: 10.2777777778vw;
  height: 10.2777777778vw;
  /*background: transparent url("../images/btn_lnb_1.png?ver=0.4855340465") no-repeat 50% 50%/contain;*/
}

.btn-close {
  width: 10.2777777778vw;
  height: 10.2777777778vw;
  /*background: url(../images/btn_close02.png?ver=0.4855340465) no-repeat 0 0/contain;*/
}

.btn-play {
  display: none;
  position: absolute;
  left: 50%;
  top: 53.25vw;
  width: 23.1944444444vw;
  height: 22.6388888889vw;
  background: transparent url("../images/btn_play.png?ver=0.4855340465") no-repeat 50% 50%/contain;
  transform: translateX(-50%);
  text-indent: -9999em;
  z-index: 5;
}

/* 테일즈런너 산리오 콜라보 모바일 */

.event-btn-container{
  width: 100%;
  padding: 0 6.25vw 5.5555555556vw ;
  z-index: 0;
  position: fixed;
  bottom: 0;
}
.event-btn{
  width: 19.444vw;
  height: 19.444vw;
  position: absolute;
  bottom:7.5vw;
  left: 5.5555555556vw;
}
body[data-id=random_1] .header .btn-control{
  background: transparent url("../images/btn_lnb_1.png") no-repeat 50% 50%/contain;
}
body[data-id=random_2] .header .btn-control{
  background: transparent url("../images/btn_lnb_2.png") no-repeat 50% 50%/contain;
}
body[data-id=random_1] .header .btn-close{
  background: url("../images/btn_close_1.png") no-repeat 0 0/contain;
}
body[data-id=random_2] .header .btn-close{
  background: url("../images/btn_close_2.png") no-repeat 0 0/contain;
}
.event-btn{
  background: transparent url("../images/event_01.png") no-repeat 50% 50%/contain;
}


/* popup */
.popup {
  overflow-y: auto;
  z-index: 1000;
  display: none;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 6.25vw;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg_youtube_dimmed.jpg");
  background-size: cover;
}
.popup-event{

  background-image: url("../images/bg_youtube_dimmed.jpg");
}
.popup .iframe {
  margin-bottom: 3.0555555556vw;
  background: #000;
  border: 0px;
  border: 0;
  display: block;
}

.popup iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

.popup .btn-anymore {
  width: 38.0555555556vw;
  height: 9.1666666667vw;
  flex-shrink: 0;
  background: url("../images/btn_not_today.png") no-repeat;
  background-size: 100% auto;
}

.popup .btn-popup-close {
  position: absolute;
  top: 6.25vw;
  right: 5.5555555556vw;
}
.btn-popup-event{
  background: url("../images/btn_close_1.png") no-repeat 0 0/contain;
}
[data-popup-id=event]{
  padding-bottom: 0 !important;
}
[data-popup-id=event]{
  background-image: url("../images/bg_event_dimmed.jpg");
}
[data-popup-id=event] .popup-inner{
  position: relative;
}
[data-popup-id=event] .popup-event-btn{
  display: inline-block;
  width: 54.359vw;
  height: 13.268vw;
  position: absolute;
  bottom:33vw;
  left: 50%;
  transform: translateX(-50%);
  background: transparent url("../images/popup_event_btn.png") no-repeat ;
  background-size: 100% auto;
}
[data-popup-id=youtube] {
  padding: 18.0555555556vw 0 13.8888888889vw;
}
[data-popup-id=youtube] .popup-inner {
  width: 100%;
  margin: auto 0;
  text-align: center;
}
[data-popup-id=youtube] .title {
  width: 69.4444444444vw;
  height: 16.3888888889vw;
  margin: 0 auto 3.6111111111vw;
  background: url("../images/img_pop_tit.png?ver=0.4855340465") no-repeat 50% 50%/contain;
}
[data-popup-id=youtube] .iframe {
  flex-shrink: 0;
  width: 100vw;
  height: 56.25vw;
}
[data-popup-id=goods] {
  background-image: url("../images/goods/bg_dimmed.png");
}
[data-popup-id=goods] .swiper {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-top: 18.75vw;
  list-style: none;
  flex-shrink: 0;
  touch-action: pan-y;
}
[data-popup-id=goods] .swiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
  text-align: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
[data-popup-id=goods] .swiper .swiper-slide {
  position: relative;
  width: 68.75vw;
  height: auto;
  margin-right: 3.4722222222vw;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
[data-popup-id=goods] .swiper .download-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 121.25vw;
  background-color: #ffaad2;
  border-radius: 0.6944444444vw;
  border: 0.6944444444vw solid #ffaad2;
}
[data-popup-id=goods] .swiper .pc .size {
  background-image: url("../images/goods/img_size_pc.png?ver=0.4855340465");
}
[data-popup-id=goods] .swiper .size {
  display: block;
  width: 68.75vw;
  height: 5.5555555556vw;
  margin: 0 auto 2.7777777778vw;
  background: url("../images/goods/img_size_mo.png?ver=0.4855340465") no-repeat 50% 50%/contain;
}
[data-popup-id=goods] .btn-download {
  width: 43.3333333333vw;
  height: 13.0555555556vw;
  margin-top: 5vw;
  background: url("../images/goods/btn_download.png?ver=0.4855340465") no-repeat 50% 50%/contain;
}
[data-popup-id=goods] .btn-close {
  background: transparent url("../images/btn_close_group.png?ver=0.4855340465") no-repeat 100% 50%;
  background-size: auto 100%;
}

[data-popup-id=gift] {
  padding-bottom: 0;
}
[data-popup-id=gift] .bth-get-gift {
  position: absolute;
  top: 130.6944444444vw;
  left: 50%;
  width: 60.4166666667vw;
  height: 14.3055555556vw;
  transform: translateX(-50%);
}
[data-popup-type=event]{
  background: url("../images/btn_close_1.png") no-repeat 0 0/contain;
}
[data-popup-type=youtube]{
  background: url("../images/btn_close_1.png") no-repeat 0 0/contain;
}
@media screen and (min-width: 720px) {
  .header {
    overflow: hidden;
    max-width: 720px;
    left: 50%;
    margin-left: -360px;
    padding: 45px 40px 0;
  }
  .btn-control, .btn-close, .btn-popup-close {
    width: 74px;
    height: 74px;
  }
  .event-btn{
    width: 143px;
    height: 143px;
    bottom: 50px;
    left: 30px;
  }
  .btn-play {
    top: 385px;
    width: 167px;
    height: 163px;
  }
  .popup {
    width: 720px;
    padding-bottom: 45px;
  }
  .popup .btn-close {
    top: 45px;
    right: 40px;
  }
  .popup .iframe {
    width: 100%;
    height: 405px;
    margin-bottom: 22px;
  }
  .popup .btn-anymore {
    width: 274px;
    height: 66px;
  }

  [data-popup-id=youtube] {
    padding: 130px 0 100px;
  }
  [data-popup-id=youtube] .title {
    width: 500px;
    height: 118px;
    margin-bottom: 26px;
  }
  [data-popup-id=goods] .swiper {
    margin-top: 135px;
  }
  [data-popup-id=goods] .swiper .swiper-slide {
    width: 495px;
    margin-right: 25px;
  }
  [data-popup-id=goods] .swiper .download-img {
    height: 873px;
    border-radius: 5px;
    border-width: 5px;
  }
  [data-popup-id=goods] .swiper .size {
    width: 495px;
    height: 40px;
    margin-bottom: 20px;
  }
  [data-popup-id=goods] .btn-download {
    width: 312px;
    height: 94px;
    margin-top: 36px;
  }
  [data-popup-id=gift] {
    padding-bottom: 0;
  }
  [data-popup-id=gift] .bth-get-gift {
    top: 941px;
    width: 435px;
    height: 103px;
  }
  [data-popup-id=event] .popup-event-btn{
    width: 439px;
    height: 109px;
    bottom: 235px;
  }
}
@media screen and (max-width: 360px) {
  html,
  body {
    font-size: 14px;
  }
}/*# sourceMappingURL=event.css.map */
